/* GRNERICOS */
body {
    background-color: white;
    color: black;
    font-family: 'Open Sans', sans-serif;
    /*font-family: Georgia, 'Times New Roman', Times, serif;*/
}
i {
    margin-right: 1rem;
    color: rgb(54, 52, 52);
}
.box-shadow-1 {
    box-shadow: 10px 10px 5px grey; 
}

.box-shadow-2 {
    box-shadow: 0 3px 2px rgb(43, 42, 42);  
}

/*TITULO PRINCIPAL*/
body>header {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    color: white;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
}

/*MENUS*/
.nav-menu {
    display: none;
}

.nav-icon {
    position: fixed;
    z-index: 1;
    font-weight: 800;
    font-size: 1rem;
    top: 1rem;
    left: 1rem;
}

/* SECCIONES */
section.home header {
    position: relative;
    height: 100vh;
    background: url(../assets/desarrollando-web.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

section .content-wrapper {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

section .title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 15vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    background-color: darkcyan;
}

.title-wrapper h1 {
    font-size: 2.5rem;
    color: white;
}

.content-wrapper p {
    margin-top: 1rem;
}

#who-am-i div.personal-data {
    display: flex;
    flex-direction: column;
}
#who-am-i ul {
    list-style: none;
}

#who-am-i li {
    display: flex;
    margin-top: 1rem;
}

.kc-link {
    background-color: gray;
    color: white;
    font-weight: 800;
}

#job-experience em {
    background-color: lightblue;
}
table.job-experience {
    width: 100%;
}

table.job-experience td {
    padding-top: 1rem;
    vertical-align: top;
}

table.job-experience td:nth-child(2){
    text-align: end;
}

#about-me figure.video {
    margin: 1rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-me figure.video iframe{
    width: 250px;
    height: 141px;
}

#contact .content-wrapper p:nth-of-type(1) {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

li.form-group {
    padding-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid grey;
}

li.form-group input, li.form-group select, li.form-group textarea {
    width: 100%;
    border: 0 solid;
    font-size: 1.5rem;
    font-family: 'Lora', serif;
    color:  grey;
}

li.form-group textarea {
    resize: none;
}

.send-button {
    font-size: 1.5rem;
    margin-top: 1rem;
}

#contact div.data-icons ul {
    list-style: none;
    padding: 0;
}

footer .footer-wrapper {
    margin-top: 2rem;
    text-align: center;
}

@media screen and (min-width: 700px) {
    #about-me figure.video iframe{
        width: 560px;
        height: 315px;
        box-shadow: 10px 10px 5px grey;
}

@media screen and (min-width: 900px) {

    /*TITULO PRINCIPAL*/
    body>header {
        font-size: 2rem;
    }

    h1.main-title-curriculum, h1.main-title-vitae {
        display: inline-block;
        position: absolute;
    }

    h1.main-title-curriculum {
        left: 0;
        transform: translate(-100%, 0);
        animation: offset-right 1s ease-out;
        animation-fill-mode: forwards;
    }

    h1.main-title-vitae {
        right: 0;
        transform: translate(100%,0);
        animation: offset-left 1s ease-out;
        animation-fill-mode: forwards;
    }

    @keyframes offset-right {
        100% {
            left: 50%;
            transform: translate(-105%, 0);
        }
    }

    @keyframes offset-left {
        100% {
            right: 50%;
            transform: translate(105%, 0);
        }
    }

    .nav-icon {
        display: none;
    }

    .nav-menu {
        display: flex;
    }
    
    .nav-menu {
        position: fixed;
        z-index: 1;
        font-weight: 800;
        font-size: 1rem;
        top: 0;
        right: 0;
        left: 0;
        justify-content: center;
        color: white;
        background-color: rgba(0,0,0,.5);
    }
    
    .nav-menu li {
        display: inline-block;
        padding: 0.5rem 1rem;
        transition: all 0.4s linear;
    }
    
    .nav-menu a {
        display: block;
        padding: .5rem 1rem;
        transition: all .5s ease;
    }

    a.active {
        background-color: red;
        color: yellow;
    }
    
    .nav-menu a:hover {
        background-color: antiquewhite;
        color: darkblue;
        transform: scale(1.2);
    }

    .content-wrapper {
        width: 75%;
        max-width: 50rem;
    }

    .title-wrapper {
        width: 75%;
        max-width: 50rem;
    }

    
    #who-am-i div.personal-data {
        flex-direction: row;
    }

    #about-me figure.image {
        width: 40%;
        float: left;
    }
    
    #about-me figure.image-2 {
        width: 40%;
        float: left;
    }
    
    div.clear-fix {
        clear: both;
    }

    #contact div.data-icons ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

}   